.btn {
    display: inline-block;
    background: #DFB56D;
    border-radius: 4px;
    color: #fff;
    padding: 18px 40px;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
  }
  
  .btn--color--orange {
    box-shadow: 0px 8px 35px 0px rgba(223, 181, 109, 0.35);
  }
  
  .btn--color--orange:hover {
    background: #D3A557;
    transition: .5s;
  }
  
  .btn--color--dark-grey {
    background: #2B2B2B;
    transition: .5s;
  }
  
  .btn--color--dark-grey:hover {
    background: #D3A557;
  }
  
  .btn--color--black {
    background: #29282D;
  }

  .btn--color--light-grey {
    background: #8E8E8E;
  }

  .btn--color--light-grey:hover {
    background: #2B2B2B;
    transition: 0.5s;
  }

  .hello__btn {
    text-align: center;
    width: 165px;
    height: 52px;
}