@import url('../css/body.css');
@import url('../css/fonts.css');
/*MAINPAGE*/
@import url('../css/wrapper.css');
@import url('../css/hero.css');
@import url('../css/button.css');
@import url('../css/container.css');
@import url('../css/header.css');
@import url('../css/logo.css');
@import url('../css/menu.css');
@import url('../css/contacts.css');
@import url('../css/section.css');
@import url('../css/offers.css');
@import url('../css/card.css');
@import url('../css/news.css');
@import url('../css/paginator.css');
@import url('../css/about.css');
@import url('../css/footer.css');
@import url('../css/social.css');
/*SERVICES*/
@import url('../css/topline.css');
@import url('../css/page.css');
@import url('../css/breadcrumbs.css');
@import url('../css/services.css');
@import url('../css/inner.css');
@import url('../css/partners.css');

/*FEEDBACK*/

.feedbacks__item {
    margin-bottom: 10px;
}

.feedbacks {
    margin-top: 60px;
    margin-bottom: 55px;
    column-count: 2;
    column-gap: 28px;
}

.feedback {
    display: inline-flex;
    flex-direction: column;
    padding: 50px 28px 42px;
    background: #F4F5F5;
}

.feedback__header {
    display: flex;
    align-items: center;
    padding-bottom: 28px;
}

.avatar {
    width: 142px;
    height: 142px;
    overflow: hidden;
    margin-right: 20px;

}


.feedback__user {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #1A1B1E;
    font-weight: 700;
    padding: 8px 0;
}

.feedback__user:hover {
    color: #2E77A4;
    text-decoration: underline;
    transition: 0.5s;

}

.feedback__user::after {
    content: url(../img/icons/vk_blue.png);
    height: 30px;
    margin-left: 10px;
}

.feedback__tags {
    display: flex;
    align-items: flex-start;
}

.tag {
    font-size: 13px;
    color: #333;
    padding: 9px 23px;
    border-radius: 50px;
    background: #E7E7E7;
    margin-right: 5px;
    text-align: center;
}

.tag--selected {
    background: #B9EAE4;
}

.feedback__title {
    font-size: 30px;
    font-weight: 700;
    color: #202020;
    margin-bottom: 13px;
}

.feedback__content {
    padding-left: 5px;
}

.feedback__content-text {
    color: #818181;
    margin-bottom: 47px;
    line-height: 1.7;
}

.feedback__date {
    color: #1A1B1E;
    font-size: 14px;
    font-weight: 600;
}

.separator {
    background: #E5C288 url("../img/feedback/phone_hand.png") right 28% bottom no-repeat;
    min-height: 363px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #202020;
}

.separator__content {
    max-width: 40%;
}

.separator__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.3;
}

.form__row {
    display: flex;
    padding-bottom: 21px;
}

.form__input {
    flex: 1;
    margin-right: 28px;
    border-radius: 5px;
    border: none;
    background: #fff;
    padding: 20px 30px;
    font-size: 18px;
    color: #1A1B1E;
}

.form__input:focus {
    box-shadow: 0 0 0 1pt #E5C288;
}

.form__input::placeholder {
    color: #666;
}

.form__input:last-child {
    margin-right: 0;
}

.form__input--textarea {
    height: 235px;
}

.form__controls {
    display: flex;
    padding-bottom: 25px;
}

.form__controls-title {
    display: flex;
    width: 35%;
    font-size: 18px;
}

.controls {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.controls__item {
    padding-bottom: 10px;
}

.controls__elem {
    cursor: pointer;
}

.controls__checkbox:checked~.controls__tag {
    background: #B9EAE4;
}

.controls__checkbox {
    display: none;
}

.form__buttons {
    display: flex;
    justify-content: flex-end;
}

.form__btn {
    margin-right: 22px;
}

.form__btn:last-child {
    margin-right: 0;
}

/*WELCOME PAGE*/

.welcome {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../img/backgrounds/splash.png") center bottom / cover no-repeat;
}


.hello {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: bounce 1.5s;
    animation-delay: 1s;
}

.hello__logo {
    padding-bottom: 59px;
}



@keyframes bounce {
    0% {
        opacity: 0;
        transform: translateY(0px);
    }

    20% {
        animation-timing-function: cubic-bezier(.35, .75, .25, 1);
        transform: translateY(-70px);
        opacity: .3;
    }

    40% {
        transform: translateY(0);
        opacity: .7;
    }

    60% {
        transform: translateY(-30px);
        opacity: .9;
    }

    80% {
        transform: translateY(0);
        opacity: 1;
    }

}