.page-title {
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 85px;
}

.page-content {
    background: #fff;
    color: #303030;
    padding: 40px 0;
}

.page-content--feedback {
    padding-bottom: 85px;
}