.separator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #E5C288;
}

.separator__content {
    min-height: 363px;
    background: right 5% bottom no-repeat url("../img/feedback/phone_hand.png");
}

.separator__title {
    padding-top: 85px;
    max-width: 40%;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.36;
    color: #202020;
}