.services {
    margin-bottom: 50px;
}

.service {
    display: flex;
    padding: 50px 0;
}

.service:hover {
    display: flex;
    background: #F5F5F5;
}

.service:hover .service__content {
    padding-right: 144px;
}

.service:hover .service__desc {
    padding-bottom: 30px;
}

.service .service__btn-hover {
    display: none;
}

.service:hover .service__btn{
    display: none;
}

.service:hover .service__btn-hover{
    display: inline-block;
    background: #DFB56D;
}

.service__img {
    min-width: 40%;
    padding-left: 30px;
    margin-right: 5%;
}


.service__title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 50px;
    color: #202020;
}

.service__desc {
    line-height: 1.7;
    padding-bottom: 57px;
}