.services {
    padding-bottom: 42px;
}

.services__list {
  padding-bottom: 42px;
}

.service {
    display: flex;
    padding: 55px 30px;
}

.service:hover {
    display: flex;
    background: #F5F5F5;
    transition: 0.5s;
}

.service__img {
    flex-shrink: 0;
    padding-right: 55px;
}

.service__title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 50px;
    color: #202020;
}

.service__desc {
    line-height: 1.7;
    padding-bottom: 50px;
}

.service__btn {
    min-width: 167px;
  }
  .service__btn::before {
    content: "подробнее";
  }
  
  .service:hover .service__btn {
    background: #D3A557;
    transition: .5s;
  }
  
  .service:hover .service__btn::before {
    content: "";
  }
  
  .service:hover .service__btn::after {
    content: "Отправить";
  }