.tag {
    font-size: 13px;
    color: #333;
    padding: 9px 23px;
    border-radius: 50px;
    background: #E7E7E7;
    margin-right: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.tag--selected {
    background: #B9EAE4;
}