.top-line {
    display: flex;
    min-height: 415px;
    flex-direction: column;
    padding-bottom: 23px;
    background: url("../img/backgrounds/lion_head_wide.png") top center no-repeat;
}

.top-line__header {
    padding-top: 25px;
}

.top-line__container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}